/*asterisk means everything on that page will take a new style*/
*{
    margin:0px;
    font-size: 40px;
    font-family:Arial, Helvetica, sans-serif;
}

/*class names*/



.mainbox1{

    display: inline-block;
    position: relative;
    background:rgb(255,237,71);
    width:350px;
    height:350px;
    vertical-align: top;
    padding:20px;

}

.mainbox2{

    display: inline-block; 
    position: relative;
    background:rgb(255,82,82);
    width:400px; 
    height:500px; 
    vertical-align: top;
    padding:20px;
    margin-top: 20px;
 
}

.mainbox3{

    display: inline-block;
    position: relative;
    background:rgb(187,255,104);
    width:400px;
    height:900px;
    vertical-align: top;
    padding:20px;
    
}

.circle{
    position:absolute;
    display: inline-block;
    right:10px;
    bottom:10px;
    background:rgb(128,0,255);
    width:100px;
    height:100px;
    border-radius: 100%;
    align-content: center;
    text-align: center;
}

/* > means to go inside, p means for each paragraph */

.circle > p{
    font-size:20px;
    color:white;
  
}